<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title> image gallery </title>
<link rel="stylesheet"  type="text/css" href="/static/css/rest-images.css"></link>
</head> 
<body>
<h1> snapshots</h1>
<ul>
  <li>
	<a href="http://farm8.staticflickr.com/7052/6815741384_be519649e8_m.jpg" title="me1" >
<img src="http://f.tuita.cc/f3/cc/1649276506/64x64.jpg?7" alt="" />
</a>
  </li>
<li>
	<a href="http://www.infoq.com/resource/articles/healthcare-emr-ehr/en/smallimage/health.png" title="me2" >
<img src="http://f.tuita.cc/f3/cc/1649276506/64x64.jpg?7" alt="" />
</a>
  </li>
<li>
	<a href="http://www.infoq.com/resource/articles/healthcare-emr-ehr/en/smallimage/health.png" title="me2" >
<img src="http://f.tuita.cc/f3/cc/1649276506/64x64.jpg?7" alt="" />
</a>
  </li>
<li>
	<a href="http://www.infoq.com/resource/articles/healthcare-emr-ehr/en/smallimage/health.png" title="me2" >
<img src="http://f.tuita.cc/f3/cc/1649276506/64x64.jpg?7" alt="" />
</a>
  </li>
</ul>
<div class="mod">
  <h2>语言的问题，见仁见智，基本上属于信仰，无法强求一致。</h2>
<p>
就语法来看，<abbr title="大蛇">Python</abbr>比Perl优美得多。Perl里面充满了像$!和$_这类的天书标记，初学的时候每读一段代码，就会碰到几个从来没见过的标记，然后过两个星期，他们又以全新的面目出现在我面前。在我看来，这决不是什么紧凑，只是疯狂。不过同样的尼采，有的人看到的是伟大的哲学家，有的人看到的只是一个疯子。
<blockquote cite="http://www.python.org">
  <p>"一个高级的运维和胶水语言"</p>
</blockquote>
</p>
</div>
<a href="/note" accesskey="b" onclck="return true">aaa</a>
<script src="/static/js/rest-images.js"></script>
</body>
</html>
