<!doctype html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=1024" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>first ppt | by paul</title>
</head>
             
<body class="impress-not-supported">
<div class="fallback-message">
  <p>you browser <b>doesn't support required</b>by imporess.jsx</p>
</div>
<div id="impress">
  <section id="home" class="step slide" data-x="0" data-y="-1500" >
	<q>aren't you just home</q>
  </section>
  <section id="2" class="step slide" data-x="1000" data-y="-1500">
	why a aa
  </section>
 <setction id="title" class="step" data-x="0" data-y="0" data-scale="4">
   <span class="try">then you should try</span>
   <h1>impress.js<sup>*</sup></h1>
   <span class="footnote"><sup>*</sup> no rhyme intended</span>
   
</section>
 <setction id="end" class="step" data-x="500" data-y="0" data-z="100">
   <b>aaaaaa</b>
   <h1>wo shi h1</h1>
</section>


</div>
<script src="/static/js/impress.js"></script>
<script>
impress();
</script>
</body>
</html>
