<div class="article">
  
  <div class="topics"></div>
  <section >
	<form   class="content-form" action="/note/sync/" method="POST">
	  {% csrf_token %}
	  <div class="hidden">
		<input id="id" name="id"  value="{{note.id}}" />
		<input id="note_type" name="note_type" value="0"/>
	  </div>
	  <input id="topic" name="topic" value="{{note.topic}}" />
	  <textarea id="content" name="content" >{{note.content}}</textarea>
	  <input id="save-note-button" class="button" type="submit" value="保存" />
	</form>
  </section>
</div>
