  <nav id="nav">
    <div id="menus">
	  <ul>
		<li ><a href="/">主页</a></li>
        <li ><a href="/note" >笔记</a>
		</li>
		<li ><a href="/ask" >问答</a>
		</li>
		<li ><a href="#" >计划</a>
		</li>
		<li>
		  <a href="#" >..</a>
		</li>
		<li ><a href="#" >..</a>
		</li>
		<li>
		  <a href="#" >关于</a>
		</li>
      </ul>
    </div>
    <div id="search">
      <form id="searchForm" action="/note/topic" method="GET">
		<input type="search"  placeholder="查询笔记"  size="35" maxlength="50" name="name" />
	  </form>
    </div>
  </nav>
